.container{
    margin-top: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #444;
    justify-content: center;
    padding: 2rem;
}
.date{
    margin-top:  2rem;
    font-size: 25px;
    text-align: center;
}
h1.header{
    font-size: 3rem;
    color: #999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.line{
    height: 0.5px;
    width: 15%;
    background-color: greenyellow;
    margin: 0 auto;
}

.desc{
    margin-top: 2rem;
    font-size: 1.6rem;
}